{% extends 'base.html.twig' %}

{% block body %}
<h2>Personal Home Page</h2>
<p>
    You are logged in as {{ app.user.email }}! <br>
</p>

<div class="links">
    <a href="{{ path('home') }}">Back to Home</a>
</div>
{% endblock %}